* {
    font-family: Verdana,sans-serif;
}
table {
    margin: 20px 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr:nth-child(2n+1) {
    background-color: #fff;
}

th, td {
    border: none;
    padding: 8px 8px;
    padding-left: 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

td:first-child, th:first-child {
    padding-left: 16px;
}